[submodule "subprojects/json"]
	path = subprojects/json
	url = git@github.com:nlohmann/json.git
[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = git@gitlab.freedesktop.org:wlroots/wlroots.git
